#root:has(.auth-page){
    display: flex;
    justify-content: center;
}

.auth-page {
display: flex;
flex-direction: column;
max-width: 500px;
justify-content: center;
align-items: center;
gap: 1rem;
align-items: center;
margin: 0 auto;
}

.auth-page h1{
    color: var(--light-grey);
}

.auth-page .label-column{
    max-width: unset;
}

.label-column {
display: flex;
flex-direction: column;
width: 100%;
}

.password{
    width: 100%;
}



.auth-form {
display: flex;
flex-direction: column;
text-align: left;
  width: 300px;
  gap: 2rem;
}

.auth-form input{
    padding: 0.4rem 0;
}

.password-input{
    width: 100%;
}